.image{
margin-top:30px;
width:100%;
height:100%;

}

.score{

font-size:20px;


}

#introDiv1{
margin-top:30px;
background-color:black;
font-size:30px;
color:white;
height: 300px;
border-right:20px;
border-style:solid;
border-color: white;


}

#introDiv2{
margin-top:30px;
background-color:black;
font-size:30px;
color:white;
height: 300px;
text-align: center;

}

#crystalNumber{

font-size:50px;
text-align: center;

}

#h2{

text-align:center;


}

#userTally{

font-size: 50px;

}

#directions{
font-size:15px;


}